#Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#FormBox {
  width: fit-content;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 10px 100px 10px;
  padding: 20px;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

Text {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 10;
  text-decoration: none;
}
