#CardItems {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 2px;
  text-decoration: none;
  color: inherit;
}

.Elem {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  font-family: inherit;
  color: inherit;
  width: 100%;
  height: auto;
}

#SubElem {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
