#OrderSummaryLayout {
  display: flex;
  margin: 100px;
  box-sizing: border-box;
  padding: 30px;
  height: auto;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

#ProductdescriptionLayout {
  display: flex;
  flex-direction: column;
  flex-wrap: unset;
  justify-content: flex-start;
  font-family: inherit;
  height: auto;
  width: 50%;
  margin-left: 50px;
  align-content: flex-start;
  align-items: flex-start;
  color: black;
  font-size: 10px;
}

#ProductdescriptionLayout h {
  font-size: 30px;
}

#VerticalLine {
  width: 1px;
  background-color: grey;
  opacity: 0.2;
  height: auto;
}

#AddressDisplay {
  display: flex;
  flex-direction: column;
  flex-wrap: unset;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 10px;
  color: black;
  font-family: inherit;
  margin-top: 2px;
  padding: 10px;
}

#AddressDisplay p {
  margin: 5px;
}

#AddressDisplay h {
  font-size: 30px;
  font-weight: 10;
}
